/* @media only screen and (){
  
} */

body{
  padding: 0;
margin: 0;
  position: relative;
  font-family: "Roboto",sans-serif;
font-size: 14px;
}
#slightyellow{
  width: 100%;
  background-color: rgb(255, 255, 246);
padding-bottom: 20%;
}
.background1{
  position:absolute;
  right:0;
  top:0;
  height: 8%;
  width: 20%;
}
.background2{
  position: absolute;
  left:0;
  top:5%;
  height: 8%;
  width: 18%;
}
.row{ 
  margin-top: 2%;
  justify-content: center;
  text-align: center;
width: 100%;
}
.header {
  z-index: 1000;
}
.w-100 {
  width: 100% !important;
}
.position-absolute {
  position: absolute !important;
}
.container{
  position: relative;
}
.bot{
padding-left: 10%;
}
.svgicon{
  width: 72px;
}
#secondblue .trans{
  text-align: left;
}
.second{
  margin-left: 100px;
}
#first{
  font-size: 100px;
text-transform: capitalize;
font-family: "Poppins", sans-serif;
font-weight: 800;
line-height: 100px;
text-transform: uppercase;
}
#firsttext{
  margin-left: -20%;
  margin-top: 15%;
color:rgb(6, 6, 61);
font-size: 70px;
font-family: "Roboto", sans-serif;
font-weight: 300;
text-transform: uppercase;
line-height: 52px;
}

#classic{
  margin-left: -20%;
  margin-top: 15%;
  border: none;
  border-radius: 10px;
  font-size: 1vw;
background-color: #ff1481;
color: white;
padding: 3%;
}
.resize{
 margin-top: -10%;
}
.navbar-toggle{
right: 0;
}
.navbar a {
  color: #112e41 !important;
font-size: 15px;
padding: 9px 24px !important;
font-family: "Roboto", sans-serif;
text-transform: uppercase;
font-weight: 500;

} 
.icon-bar{
  background-color: black;
}
.nav li a{
  color:rgb(7, 1, 61);
}

.trans .big {
  font-size: 70px;
}


.feature{
  background-color: white;
  height: 30%;
  text-align: center;
}
.d-flex{
  width: 100%;
}


.feature p{
  padding-top: 12%;
  color:#ff1481;
  font-size: 1vw;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
}

.feature h1{
  color:rgb(48, 46, 70);
  font-weight: bolder;
  font-size: 2vw;
  margin-bottom: 5%;

}
#solidblue {
  margin-left: 0px;
}
#solidblue, #secondblue , .footer{ 
  background-color: #162b45;
 height: 100%;
 margin-top: 5%;
 width: 100%;
}
.footer .trans {
margin: 6%;
}
.trans tr td{
margin-top: 7%;
font-size: 22px;
}


.row .card {
background-color: #162b45;
}
.trans table{
margin-top: 4%;
}
.trans, .card , .card1{
margin: 2% 1%;
}
.card1 .bi{
  color: #ff1481;
}

.card1 img{
  width: 100%;
border: 1px solid #e2e6e7;
  border-top: 0px solid transparent;
  object-fit:cover;
}
.card{
border: 2px solid #6d7683;;
}

.card img{
margin-top: 10%;
margin-bottom: 10%;

}
.chk p , .chk h1{
margin-top: 15%;

}
.chk h1{
  font-size: 1.5rem !important;
  font-weight: bolder;
}

.chk{
  margin: 4% 1%;
  background-color: #2e4158;
  height: auto;
  border-radius: 5px;
  
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  border-radius: 5px;
  padding:15px;
  padding-top:2%;
}
#solidblue p , #secondblue p, .footer{
  color:     #6d7683;
}
.footer .trans{
text-align: left;
margin-left: 10% ;
}
.footer p{
  color: #abb2ba;
font-size: 14px;
margin-top: 10%;
}
.secondlast h1{
 color:rgb(7, 1, 61);
}
.back{
  background-color: #f7f7f7;
}
.back:hover{
  box-shadow: 0px 20px 30px rgba(163, 4, 78, 0.1);
border: 1px solid transparent;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 1px;
border-top: 0px solid transparent;
}
.secondlast .card1{

text-align: left;
}
#solidblue h1, #secondblue h1 , .footer h2{
color: white;
font-size: 24px;
}
.single_footer_img {
  width: 30%;
  float: left;
  margin: 1%;
  position: relative;
  z-index: 2;
}
.footer .fa {
margin-top: 1%;
margin: 1% 3%;
}
.left{
  width: 110%;
}

.parent .adjust{
width: 95%;
}
.parent .image2{
  position: absoulute;
  bottom: 0;
  left: 0;
}
.parent {
  position: relative !important;
}


.image1 {
    height: 250px;
  position: absolute;
  right :0px;
  top:0px;
}


.chill{
    position: absolute;
width: 300px;
text-align: left;
bottom: 20px;
right: 20px;
z-index: 3; 
}
.chill2 {
bottom: 0px;
right: 180px;
width: 190px;
height: 150px;
position: absolute;
content: "";
border: 8px solid #ff1481;
z-index: 2; 
}
.child .btn{
  border-radius: 5px;
  font-size: 1vw;
background-color: #ff1481;
color: white;
padding: 1%;
position :absolute;
left:0%;
}
.child .btnleft{
  font-size: 1vw;
  color:rgb(7, 1, 61);
padding: 1%;
font-weight: bold;

}

#firstparagraph .line2{
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
}



.parag , .line1, .line2 , .line3 , .parag2{
    text-align: left;
  font-weight: bold;
  width: 60%;
}
.parag2{
  text-align: left;
  font-size: 15px;
color:#ff1481;
margin-top: 10%;
margin-left: 40%;
}
.parag{
  text-align: left;
font-size: 15px;
color:#ff1481;
margin-top: 10%;
margin-left: 10%;
}

.line1 {
    font-size: 30px;
    color:#162b45;

}
.line2{
    font-size: 20px;
  color:#162b45;     
}
.line3{
    font-size: 15px;
    color: grey;
    font-weight: 300;
}

.footer .classic {
  background-color: #ff1481;
  border: none;
}
.footer .border {
  border: 2px solid #6d7683;
}
#email {
  background-color:  #162b45;
border: none;
width: 80%;
margin: 4%;
}
.chk .bi {
  color: white;
  background-color: #586779;
  border-radius: 50% !important;
  padding: 4%;
  margin-top: 100px;
  font-size: 30px;
} 
.chk:hover  .hov{
  color: #162b45 !important;
}
.chk:hover  .bi{
 background-color: #ff1481;
}
.card h1:hover { 
  color: #ff1481 !important;
}
.chk:hover {
  background-color: white;
}
#secondblue{
  padding-bottom: 7%;
  padding-top: 5%;
}






  @media only screen and (max-width:1500px) {

   
    .second{
      margin-left: 100px;
    }
    #firstparagraph .line1{
      font-size: 20px;
      line-height: 30px;
    }
    #firstparagraph .line2{
      font-weight: 400;
      line-height: 20px;
    }
    #firstparagraph .line3{
      line-height: 20px;
    }
    .parag , .line1, .line2 , .line3 , .parag2{
      width: 60%;
      }
      .parag2{
      text-align: left;
      font-size: 14px;
      margin-top: 10%;
      }
      .parag{
      font-size: 14px;
      margin-top: 10%;
      }
      
      .line1 {
        font-size: 30px;
      }
      .line3{
        font-size: 14px;
      }
      .feature p{
        font-weight: 700;
        font-size: 14px;
      }
      
      .feature h1{
        font-size: 42px;
  font-weight: 700;
  margin-bottom: 140px;
      }
    .lamp{
      height: auto;
      width: 500px;
    }

    #first{
      font-size: 70px;
    font-weight: 800; 
    line-height: 60px;
    }
    #firsttext{
      margin-left: -20%;
      margin-top: 15%;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    }
    
    #classic{
      margin-left: -20%;
      margin-top: 15%;
      font-size: 1vw;
    }


    .card1 h1{
      font-size: 1.2rem;
      font-weight: 600;
    }
    .chk h1{
      font-size: 22px;
    }
    .chk p{
      font-size: 12px;
       }
    #email{
      width: 72%;
    }
    .top{
      width: 80%;
    }
    .trans .big {
      font-size: 40px;
    }
    .trans td{
      font-size: 10px;
    }
  }

  @media only screen and (max-width:1200px) {


    .second{
      margin-left: 100px;
    }
    #firstparagraph .line1{
      font-size: 25px;
      line-height: 30px;
    }
    #firstparagraph .line2{
      font-weight: 400;
      font-size: 17px;
    }
    #firstparagraph .line3{
      font-size: 14px;
    }
    .parag , .line1, .line2 , .line3 {
      width: 70%;
      }
      .parag2{
      text-align: left;
      font-size: 14px;
      margin-top: 5%;
      }
      .parag{
      font-size: 14px;
      margin-top: 5%;
      }
      
      .line1 {
        font-size: 25px;
      }
      .line3{
        font-size: 14px;
      }

    .lamp{
      height: auto;
      width: 450px;
    }
    #first{
      font-size: 50px;
    font-weight: 800; 
    line-height: 40px;
    }
    #firsttext{
      margin-left: -20%;
      margin-top: 30%;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    }
    
    #classic{
      margin-left: -20%;
      margin-top: 15%;
      font-size: 1vw;
    }

    .navbar-header {
      margin-left: 20%;
    }
 
    .card img{
      margin-left: 10%;
      }
    body { 
      font-family: "Roboto",sans-serif;
      font-size: 11px;
      
    }
    .navbar a{
      font-size: 6px;
    }
    .image1, .chill, .background1 , .background2, .chill2{
      display: none;
    }
    #slightyellow{
      background-color: rgb(231, 231, 172);
    }
    img {
      width: 80%;
    }
     .top{
       width: 100%;
     }
     .bot{
       
       width: 100%;
       text-align: center;
     }
     #firsttext{
      font-size: 30px;
      }
      .feature p{
        font-weight: 700;
        font-size: 14px;
      }
      
      .feature h1{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 80px;
      }
      .trans .big {
        font-size: 40px;
      }
      .trans .small{
        font-size: 10px;
      }
      .svgicon{
        width: 60px;
      }
    }
    @media only screen and (max-width:1000px) {

      
      .second{
        margin-left: 100px;
      }
      #firstparagraph .line1{
        font-size: 25px;
        line-height: 30px;
      }
      #firstparagraph .line2{
        font-weight: 400;
        font-size: 17px;
      }
      #firstparagraph .line3{
        font-size: 14px;
      }
      .parag , .line1, .line2 , .line3 {
        width: 70%;
        }
        .parag2{
        text-align: left;
        font-size: 12px;
        margin-top: 5%;
        }
        .parag{
        font-size: 12px;
        margin-top: 5%;
        }
        
        .line1 {
          font-size: 20px;
        }
        .line3{
          font-size: 12px;
        }


      .lamp{
        height: auto;
        width: 300px;
        margin-top: 30%;
      }
      #first{
        font-size: 50px;
      font-weight: 800; 
      line-height: 40px;
      }
      #firsttext{
        margin-left: -25%;
        margin-top: 45%;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      }
      
      #classic{
        margin-left: -25%;
        margin-top: 2%;
        font-size: 20px;
      }

  
    }
  
  @media only screen and (max-width:810px) {
  
    .trans .small{
      font-size: 12px;
    }
    #secondblue .trans {
      margin-right: 300px;
    }
    .second{
      margin-left: 100px;
    }
    #firstparagraph .line1{
      font-size: 25px;
      line-height: 30px;
    }
    #firstparagraph .line2{
      font-weight: 400;
      font-size: 17px;
    }
    #firstparagraph .line3{
      font-size: 14px;
    }
    .parag , .line1, .line2 , .line3 {
      width: 70%;
      }
      .parag2{
      text-align: left;
      font-size: 8px;
      margin-top: 5%;
      }
      .parag{
      font-size: 8px;
      margin-top: 5%;
      }
      
      .line1 {
        font-size: 16px;
      }
      .line3{
        font-size: 8px;
      }


    .navbar-header {
      margin-left: 15%;
    }
  
    .top{
      width: 80%;
    }
    #firsttext{
      font-size: 20px;
      }
    
  }

  @media only screen and (max-width:740px) {
    .navbar-toggle{
      padding-left: 60vw;
    }
    }
    @media only screen and (max-width:680px) {
      .navbar-toggle{
        padding-left: 48vw;
      }
      }
      @media only screen and (max-width:610px) {
        .navbar-toggle{
          padding-left: 42vw;
        }
        .lamp{
          height: auto;
      width: 300px;
      margin-top: 20%;
      margin-left: -15%;
        }
        }
       
  @media only screen and (max-width:570px) {
    #secondblue .trans {
      margin-right: 100px;
    }
    .feature p{
      font-weight: 700;
      font-size: 9px;
    }
    
    .feature h1{
      font-size: 17px;
      font-weight: 700;
      margin-bottom: 80px;
    }
    .parag2{
      font-size: 8px;
      margin-left: 10%;
      }
      .line1 { 
        font-size: 25px;
        line-height: 30px; font-size: 16px;
      }
      .line3{
        font-size: 14px;
      }
    .lamp{
      height: auto;
      width: 300px;
      margin-top: 20%;
      margin-left: -15%;
    }
    #first{
      font-size: 50px;
    font-weight: 800; 
    line-height: 40px;
    }
    #firsttext{
      margin-left: -12%;
      margin-top: 15%;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    }
    
    #classic{
      margin-left: -12%;
      margin-top: 2%;
      font-size: 20px;
    }
    .chill .line1{
      color: white;
    }
    .chill{
      display: flex;
  bottom: 20px;
  left: 60px;
  z-index: 3; 
  }
    .chill2 {
      display: flex;
    bottom: 10px;
    left: 60px;
    width: 40px;
    height: 40px;
    border: 2px solid #ff1481;
    }
    .chk{
      margin: 1% 10%;
      padding: 2%;
      padding-top: 10%;
    }
  
     .parag , .line1, .line2 , .line3 , .parag2{

      width: 80%;
    }
    .card{
      margin-left: 10%;
    }
  }
  @media only screen and (max-width:480px) {
    .navbar-toggle{
      padding-left: 36vw;
    }
    }
  @media only screen and (max-width:447px) {
    
    .navbar-toggle{
      padding-left: 30vw;
    }
    .navbar-header {
      margin-left: 15%;
    }
    .chill{
  left: 50px;
  }
    .chill2 {
    left: 50px;
    }

    .top{
      width: 60%;
    }
    #firsttext{
      font-size: 10px;
      }
     .tester{
       height: 300px;
       width:100%;
     }
     .parent .image1{
       height: 10px;
     }
  }
  @media only screen and (max-width:400px) {
    .parag , .line1, .line2 , .line3 , .parag2{
      margin-left: 0;
          }
    .navbar-toggle{
      padding-left: 25vw;
    }
    }